* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
}

:root {
    --header: #444;
    --header-2: #999;
    --header-text: #ddd;
    --background: #dedede;
    --nav-hover-bg: #222;
    --nav-hover-text: #eee;
}

header {
    background-image: linear-gradient(to right, var(--header), var(--header-2)) ;
    padding: 20px 0;
    text-align: center;
    color: var(--header-text);
    opacity: 0.4;
}
    
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    width: 33%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: var(--nav-hover-bg);
    color: var(--nav-hover-text);

}


.main {
    margin-top: 20px;
}

.about {
    text-align: center;
    border: 1px solid red;
    line-height: 2rem;
    height: 75vh;
    padding: 150px 0 0 0;
   
}

.about h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer{
    background-color: var(--header);
    color: var(--header-text);
    font-size: 0.8rem;
    padding: 10px 0;
    text-align: center;
}